@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
#artistInfoDiv,
#genreSelect,
#musicianSelect,
#addToEvent,
#links,
#artistImageDiv {
  display: inline;
  float: left;
  width: 37.5%;
  margin: 0 0%;
  margin-left: 25%;
  background-color: #EEE;
  padding: 20px 30px 20px 30px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DADADA;
}
h1 {
  font: 25px Georgia, "Times New Roman", Times, serif;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #DADADA;
  margin: -10px -30px 30px -30px;
  color: #888;
}
input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid #DADADA;
  color: #888;
  height: 24px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 72%;
  height: 30px;
}
textarea {
  height: 100px;
}
button {
  background: #E48F8F;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
}
button:hover {
  background: #cf7a7a;
}
