@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
form {
  background-color: #EEE;
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
.firstColumn {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
}
.secondColumn {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
}
.accordion {
  background-color: #EEE;
  border: 1px solid #DADADA;
  display: inline;
  float: left;
  width: 66.66666666666666%;
  margin: 0 0%;
  margin-left: 16.666666666666664%;
  position: relative;
  display: block;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
#artistInfoDiv,
#genreSelect,
#musicianSelect,
#addToEvent,
#links,
#artistImageDiv,
.musicianInfoForm,
.musicianInstruForm,
#eventInfoDiv,
#startTimeDiv,
#endTimeDiv,
#mealsDiv,
#compInfoDiv,
#ticketsDiv,
#eventTypeDiv,
#plublishingDiv,
#eventImageDiv,
#eventArtistsDiv {
  background-color: #EEE;
  padding: 20px 30px 20px 30px;
  font: 14px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DADADA;
}
h1 {
  font: 25px Georgia, "Times New Roman", Times, serif;
  padding: 0px 0px 5px 30px;
  display: block;
  margin-top: 20px;
  color: #888;
}
h1:focus {
  outline: 0 none;
}
h2 {
  margin-bottom: 15px;
  font: 16px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-decoration: underline;
  outline: 0 none;
  font-weight: bold;
}
label {
  margin-bottom: 5px;
  display: block;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="time"],
textarea,
select,
input[type="date"],
input[type="number"] {
  border: 1px solid #DADADA;
  color: #888;
  height: 24px;
  margin-bottom: 16px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 72%;
  height: 30px;
}
textarea {
  height: 100px;
}
button {
  border: none;
}
button .noResult {
  float: right;
}
button img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: 0.2s;
}
button img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.2s;
}
#createNewArtistButton {
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  height: 30px;
  font-size: 8px;
  font-size: 16px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  left: 500px;
}
#createNewArtistButton:hover {
  background: #cf7a7a;
}
#submitEvent {
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  height: 30px;
  font-size: 8px;
  font-size: 16px;
  height: 50px;
  border-radius: 40px;
  margin-top: 100px;
  margin-left: 40px;
}
#submitEvent:hover {
  background: #cf7a7a;
}
.showAll {
  background: transparent;
  position: relative;
  top: 10px;
  left: -38px;
}
.noResult {
  background: transparent;
  display: inline-block;
  position: relative;
  float: right;
  top: 5px;
  right: 42px;
  height: 34px;
}
#musiciansPlaying {
  border: 2px solid grey;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 3px;
  width: 235px;
  padding: 5px;
}
#musiciansPlaying legend {
  font-weight: bold;
  margin-left: 10px;
}
#musiciansPlaying .musicianResult {
  margin-top: 6px;
  margin-left: 5px;
  font-size: 12px;
  -webkit-transition: opacity 1s ease-out;
}
#musiciansPlaying .deleteMusician {
  background: url('../img/icones/icone_delete.png');
  opacity: 0.6;
  background-repeat: no-repeat;
  height: 16px;
  width: 13px;
  float: right;
  margin-right: 10px;
}
#musiciansPlaying .deleteMusician:hover {
  opacity: 1;
}
.ui-autocomplete-category {
  display: none;
}
.ui-menu-item {
  font: 13px Georgia, "Times New Roman", Times, serif;
  opacity: 0.6;
}
.ui-menu-item:hover {
  opacity: 1;
}
#noMusicianResultsInfo {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}
.deleteMusicianButton {
  background: url('../img/icones/icone_delete_big.svg');
  opacity: 0.6;
  background-repeat: no-repeat;
  height: 24px;
  width: 19px;
  position: relative;
  left: -5px;
}
.deleteMusicianButton:hover {
  opacity: 1;
}
#createNewMusician {
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  height: 30px;
  font-size: 8px;
  font-size: 16px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  left: 10px;
  margin-top: 50px;
}
#createNewMusician:hover {
  background: #cf7a7a;
}
#musicianList,
#eventList,
#artistList {
  background-color: #EEE;
  border: 1px solid #DADADA;
  display: inline;
  float: left;
  width: 66.66666666666666%;
  margin: 0 0%;
  margin-left: 16.666666666666664%;
  position: relative;
  display: block;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.musicianTemplate {
  border-bottom: 1px solid #7A7A7A;
  font: 14px Georgia, "Times New Roman", Times, serif;
  color: #888;
}
.musicianTemplate:last-child {
  border-bottom: none;
}
.musicianTemplate p {
  margin-top: 10px;
  margin-left: 40px;
}
.musicianTemplate span {
  font-weight: bold;
  font: 14px;
}
.musicianTemplate h1 {
  border-bottom: 1px solid #DADADA;
  padding: 20px;
}
.musicianTemplate h1 span {
  position: relative;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  left: 50px;
}
.musicianTemplate h1 ul {
  position: absolute;
  right: -5px;
  top: -6px;
}
.musicianTemplate button {
  background: transparent;
  z-index: 4000;
}
