//grid 
@import 'reset.css';
@import 'grid.less';

 
@columns: 24 ;
@columns-width: 50;
@gutter-width: 0;

@darkBrown: #7A664C;
@lightBrown: #B39C7F;
@backgroundColor: #E3D1BA;

@navHeight: 60px;

@total-width:100%;


/// GENERALITIES ///
html{
	color:orange;
	overflow-x: hidden;
	background-color: @backgroundColor;
	height:10000px,
}

.hidden{
	display:none;
}

/// HEADER ///
header{
	 
     
     
	
	background-color:@darkBrown;

    display:block;
	height: 180px;
	
	/// logo ///
	img{

		float:left;
		.push(0.5);
		height: 150px;
		margin-top: 15px;

	}

	/// search input ///
	.normalSearch{

		position:absolute;
		right:40px;
		top: 60px;
		width:300px;
		height:70px;
		
		

		input{

			
			width:200px;		
			background: white url(../img/icones/search.png) no-repeat left 5px ;
			margin-left:30px;
			margin-top:17px;
			padding-left:35px;
			height:30px;
			border-radius: 3;
			border:none;
		
		}
	}

	.downSearch{
		position:fixed;
		right:40px;
		top: -5px;
		width:300px;
		height:70px;
		z-index: 1001;
		//background-color: @darkBrown;
		

		input{

			
			width:200px;		
			background: white url(../img/icones/search.png) no-repeat left 5px ;
			margin-left:30px;
			margin-top:17px;
			padding-left:35px;
			height:30px;
			
			border:none;
		
		}
	}
	.minimalizeSearch{

		position:fixed;
		right:40px;
		top: -50px;
		width:300px;
		height:70px;
		z-index: 1001;
		//background-color: @darkBrown;
		

		input{

			
			width:200px;		
			background: white url(../img/icones/search.png) no-repeat left 5px ;
			margin-left:30px;
			margin-top:17px;
			padding-left:35px;
			height:30px;
			
			border:none;
		
		}
	}
	



}

/// MINIMIZED SEARCH ///



// 	#minimizedSearch{
// 			position:fixed;
// 			top: -0px;
// 			width:270px;
// 			right: 40px;
// 			height:70px;
// 			background-color: @darkBrown;

// 		input{
			
// 			position: absolute;
// 			width:200px;		
// 			background: white url(../img/icones/search.png) no-repeat left 5px ;
// 			padding-left:35px;
// 			top:20px;
// 			left:17.5px;
			
// 			height:30px;		
// 			border:none;	
// 		}
		
// 	}

// 	#seachButton{
// 		position:absolute;
// 		top:60px;
// 		right:40px;
// 		background-image: white url(../img/icones/searchButton.png) no-repeat center 0px ;
// 	}
		



/// NAVIGATION ///
body{

	/// FONT ///
	
	.normalNav{
		font-family: arial;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.3em;
		a{
			text-decoration: none;
			color:#FFF7E8;
		}

		/// GENERAL ///
		height:@navHeight;
		background-color: @lightBrown;
	    -webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	   

		ul{

			
			li:first-child{
				
				a{	
					.column(23.95);
					
					margin-right: 1px;
					border-right: 6px solid #8C7658;
					/// Shadow for the separation in the nav (ADD | LIST) ///
					// -webkit-box-shadow: inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             -moz-box-shadow:    inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             box-shadow:         inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
				}
			}
			li{	
				line-height:@navHeight;
				margin-left: 10px;
				text-align: center;
				.column(12);
				display:inline;


				a{	
					-webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);

					background-color: @lightBrown;
					vertical-align: middle;
					.column(24);
					height:@navHeight;

					&:hover{
						background-color: #8C7658;
					}
				}
			}

			
		}
	}

	

	.minimalizeNav{
		font-family: arial;
		font-weight: bold;
		position: fixed;
		top:-60px;
		left:20px;
		.column(3);

		
		text-transform: uppercase;
		font-size: 1em;
		z-index:1000;
		a{
			text-decoration: none;
			color:#FFF7E8;
		}

		/// GENERAL ///
		
		height:50px;
		background-color: @lightBrown;
	    -webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	   

		ul{

			
			li:first-child{
				
				a{	
					.column(23.8);
					
					margin-right: 1px;
					border-right: 6px solid #8C7658;


					/// Shadow for the separation in the nav (ADD | LIST) ///
					// -webkit-box-shadow: inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             -moz-box-shadow:    inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             box-shadow:         inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
				}
			}
			li{	
				line-height:50px;
				margin-left: 10px;
				text-align: center;
				.column(12);
				display:inline;


				a{	
					-webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);

					background-color: @lightBrown;
					vertical-align: middle;
					.column(24);
					height:50px;

					&:hover{
						background-color: #8C7658;
					}
				}
			}

			
		}
	}


	.downNav{
		font-family: arial;
		font-weight: bold;
		position: fixed;
		top:0px;
		left:20px;
		.column(3);


		
		text-transform: uppercase;
		font-size: 1em;
		z-index:1000;
		a{
			text-decoration: none;
			color:#FFF7E8;
		}

		/// GENERAL ///
		
		height:50px;
		background-color: @lightBrown;
	    -webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	    box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	   

		ul{

			
			li:first-child{
				
				a{	
					.column(23.8);
					
					margin-right: 1px;
					border-right: 6px solid #8C7658;


					/// Shadow for the separation in the nav (ADD | LIST) ///
					// -webkit-box-shadow: inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             -moz-box-shadow:    inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
	    //             box-shadow:         inset -5px 0px 0px -3px rgba(102, 90, 74, 0.3);
				}
			}
			li{	
				line-height:50px;
				margin-left: 10px;
				text-align: center;
				.column(12);
				display:inline;


				a{	
					-webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	                box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);

					background-color: @lightBrown;
					vertical-align: middle;
					.column(24);
					height:50px;

					&:hover{
						background-color: #8C7658;
					}
				}
			}

			
		}
	}
}

.main{
    -webkit-box-shadow: inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
    box-shadow:         inset 0px 51px 21px -50px rgba(50, 50, 50, 0.54);
	
	

	.normalSecondNav{

		padding-top:50px;
		
		
		li{

		.column(4);
		.push(1.6);
		line-height:50px;
		background-color: @darkBrown;

		-webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
		a{	

           -webkit-box-shadow: 1px 0px 19px 0px rgba(50, 50, 50, 0.35);
           -moz-box-shadow:    1px 0px 19px 0px rgba(50, 50, 50, 0.35);
           box-shadow:         1px 0px 19px 0px rgba(50, 50, 50, 0.35);	



			font-family: arial;
			text-decoration: none;
			text-transform: capitalize;
			color:#FFF7E8;
			text-align: center;
			vertical-align: middle;
			.column(24);
			height:50px;

			&:hover{
				background-color: @lightBrown;
			}
		}

		}
	}
	
}





#forms{
	overflow:hidden;
	position: absolute;
	width:100%;
	top:400px;

	.event{
		position: relative;
		left:0%;
	}
	
	.artist{
		position:absolute;
		left:100%;
	}
	.musician{
		position:absolute;
		left:200%;
	}
	.stuff{
		position:absolute;
		left:300%;
	}
	
	.form{
		width:100%;
		height:30%;
		float:left;
		margin-top: 0px;
		
		form{
			//margin-top:200px;
			.column(18);
			.push(1.6);
		}
	}
}



#login{
	background-color: @darkBrown;
}

#logoLogin{
	.column(3);
	.push(10.5);

	margin-top:100px;
}
