<div class="form event">
			
			<form class="exportEvent">
				<h2>Export to word</h2>
				<ul>
					
				<li><label>Start date</label><input type="text" name="first" id="exportDate"/></li>
            	<li><label>Ending date</label><input type="text" name="last" id="exportEndDate"/></li>
            	<li><button type="button" id="exportTo">Export</button></li>
            	</ul>
            </form>	
            

            <form id="eventList">

                
            </form>
        </div>
