<div id="addMain" class="main">
            
            <div id="forms">
                
                
                <div class="form musician">
                    <form id="musicianForm">
                        Musician
                    </form>
                </div>
                <div class="form stuff">
                    <form id="stuffForm">
                       Stuff
                    </form>
                </div>
                
            </div>
        </div>