<div id="addMain" class="main">
            
            <div id="formsAdd" class="forms1">
                
                
                <div class="form musician">
                    <form id="musicianForm">
                        
                    </form>
                </div>
                <div class="form stuff">
                    <form id="stuffForm">
                       
                    </form>
                </div>
                
            </div>
        </div>