<nav class="normalSecondNav addSecondNav">
                <ul>
                    <li class="liEvent " ><a class="addEventMenu" href="add/event">add event</a></li>
                    <li class="liArtist " ><a class="addArtistMenu" href="add/artist">add artist</a></li>
                    <li class="liMusician " ><a class="addMusicianMenu" href="add/musician">add musician</a></li>
                    <li class="liStuff " ><a class="addStuffMenu" href="add/stuff">add stuff</a></li>
                </ul>
            </nav>