<header>
        <img src="img/logo.png"> 

        <div  id="searchToBeSwitched" class="normalSearch">
             <input id="searchInput" type="text" placeholder="search">
        </div> 
           <select id="changeLocale" style ="width: 5%; margin-left:90%">Language
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="de" selected>Deutsch</option>
            </select>      
       
       
      
</header>
