<header>
        <img src="img/logo.png"> 

        <div  id="searchToBeSwitched" class="normalSearch">
             <input id="searchInput" type="text" placeholder="search">
        </div> 


            <div class="logOut">
                <p>Monique</p>
                <button>
                    <!-- <img src="img/icones/icone_logOut.png"/> -->
                    Log out</button>
                  



            </div>
                
            

        
           <select id="changeLocale">
           		
                <option value="en">En</option>
                <option value="fr">Fr</option>
                <option value="de" selected>De</option>
            </select>      


       
       
      
</header>
