<header>
        <img src="img/logo.png"> 

        <div  id="searchToBeSwitched" class="normalSearch">
             <input id="searchInput" type="text" placeholder="search">
        </div> 


            <div class="logOut">
                
                <form style="background:#7a664c;" action="http://pingouin.heig-vd.ch/gof/logout">
                <button type="submit">
                    <!-- <img src="img/icones/icone_logOut.png"/> -->
                    Log out</button>
                </form>
                  



            </div>

            

        
           <select id="changeLocale">
           		
                <option value="en">En</option>
                <option value="fr">Fr</option>
                <option value="de" selected>De</option>
            </select>      


       
       
      
</header>
