
    	
    	<div  class="musicianForm">
            <h2 class ="headerMusicianForm"><span class ="titleMusicianForm">Create a new musician</span></h2>

            <div>
        		Name* <input type="text" name="nameMusician"  class ="nameMusician" required/><br>

            	Last name<input type="text" name="lastNameMusician" id="lastNameMusician" /><br>
            	Stagename <input type="text" name="stagename" id="stagename" /><br>

                Instrument <input type="text" name="instrument" class="instrument" placeholder="start typing"/>

                <fieldset class="instrumentsPlayed">
                    <legend>Instruments played</legend>
                </fieldset>
               
    		</div>
    	</div>

        <button class ="deleteAction" style="display:block;">Delete</button>