                      <div class= "accordion createMusicianForm">
                        <h1 class ="addArtistHeader">Musician - 
                          <strong style ="font-weight:bold;"class ="titleMusicianForm">Create a new musician</strong>
                        </h1>
                          <div>
                            <form  class="musicianForm">                      
                                <div class="musicianInfoForm">
                                  <label>Name* </label><input type="text" name="nameMusician"  class ="nameMusician" required/><br>
                                  <label>Last name</label><input type="text" name="lastNameMusician" id="lastNameMusician" /><br>
                                  <label>Stagename </label><input type="text" name="stagename" id="stagename" /><br>
                                </div>
                                <div class="musicianInstruForm">
                                  <label>Instrument</label><input type="text" name="instrument" class="instrument" placeholder="start typing"/>
                                  <fieldset class="instrumentsPlayed">
                                      <legend>Instruments played</legend>                                     
                                  </fieldset>

                                </div>
                                  <button type ="button"class ="deleteMusicianButton" style="display:block;">Delete</button>
                            </form>
                          </div>
                      </div>