<div class="form artist">

                      <div class="accordion nextFormArtist">
                        <h1 class ="addArtistHeader">Add new artist</h1>

                        <div>
                          <form id="artistForm" >
                            <div class ="firstColumn">
                                <div id="artistInfoDiv">
                                    <h2 class ="addArtistHeader"><img src="img/icones/icone_information.png">Informations</h2>
                                    <label>Name*</label><input type="text" name="nameArtist" id="nameArtist" required placeholder="artist name"><br>
                                    <label>Lead</label><textarea name="lead" id="lead" maxlength="300" placeholder="artist lead"></textarea><br>
                                    <label>Description</label><textarea  placeholder="artist description" name="artistDescription" id="artistDescription"></textarea><br>
                                    </div>
                                        <div id="links"> 
                                          <h2 class ="addArtistHeader"><img src="img/icones/icone_links.png">Links</h2>
                                          <label>Title</label><input type="text" name="title" id="titleLink" ><br>
                                          <label>Name</label><input type="text" name="nameLink" id="nameLink" ><br>
                                          <label>URL</label><input type="url" name="url" id="linkUrl" required><br>
                                        </div> 
                              
                                        <div id="artistImageDiv">
                                              <h2 class ="addArtistHeader">Image</h2>
                                              <label>Browse existing image</label><input type="file" name="img" multiple id="artistImgBrowse">
                                              <label>Upload new image</label><input id="artistImgUpload" type="file" name="img" multiple>
                                              <br>
                                        </div>  
                                        <button id="createNewArtistButton" type = 'button'>CREATE NEW ARTIST</button>

                              </div>
                          <div class="secondColumn">
                              <div  id="genreSelect">
                                    <h2 class ="addArtistHeader"><img src="img/icones/icone_genre.png">Genre</h2>
                                    <label>Style</label><input type="text" name="genre" id="genre" placeholder= "start typing a genre"/>
                                    <button type="button" id="createNewGenreButton" class="noResult addGenre">Create</button>    
                                    <button  type="button" class ="showAll"id="showAllGenres"> 
                                    <img src="img/icones/icone_list2.png"/>
                                    </button>

                                    <fieldset id="genresSelected">
                                        <legend>Genres selected</legend>
                                    </fieldset>
                                    
                                    <h3 id = 'noGenreResultInfo'>pas de resultat, vous pouvez creer un nouveau genre</h3> 
                                    
                                    <button type="button" class ="deleteGenre">Delete genre</button>


                              </div>


                              <div id= "musicianSelect">
                                    <h2 class ="addArtistHeader"><img src="img/icones/icone_musician.png">Musician</h2>
                                    <label>Name</label><input class= "titleMusicianForm" type="text" name="musician" id="musician" placeholder="start typing a name"/>  
                                    <button  type="button" class ="showAll" id="showAllMusicians">
                                    <img src="img/icones/icone_list2.png"/>
                                    </button>
                                    <button type="button" id="createNewMusicianButton" class="noResult add" alt="create a new artist">
                                    <img src="img/icones/icone_add.png"/>
                                    </button>  
                                    <h3 id = 'noMusicianResultsInfo'>Ce musicien n'existe pas, mais vous pouvez le créer</h3> 
                                    <fieldset id="musiciansPlaying">
                                        <legend>Musicians playing</legend>
                                    </fieldset>
                                    <div>
                                    
                                    </div>
                                    
                              </div>


                              <div id= "addToEvent">
                                   <h2 class ="addArtistHeader"><img src="img/icones/icone_event_small.png">Event</h2>
                                   <label>Add to event</label><input type="text" name="eventName" id="eventName" placeholder="start typing an event"/>
                                   <button  type="button" class ="showAll"id="showAllGenres"> 
                                    <img src="img/icones/icone_list2.png"/>
                                    </button>

                                   <button type="button" id="createNewEvent" class="noResult addEvent" alt="create a new event">
                                    <img src="img/icones/icone_add.png"/>
                                    </button>  
                                    <h3 id = 'noEventResultInfo'>Cet event n'existe pas, mais vous pouvez le créer</h3> 
                                    <fieldset id="artistToEvent">
                                        <legend>Event selected</legend>
                                    </fieldset>


                                   <label>Arrival date hour*</label><input class ="date" type="text"  name="arrivalHour" id="arrivalHour">
                                   <label>Order*</label><input  type="number" name="order" id="order">
                                   <label>Support?*</label>
                                   <select id="support">
                                      <option>Yes</option>
                                      <option>No</option>
                                   </select> 
                 
                              </div>
                          </div>
 
                              <!-- <button id="createNewArtistButton">CREATE NEW ARTIST</button> -->
                     </form>
                        </div>
                      </div>

 
                    
                  </div> <!--Fin class=form artist-->