   <div class="form musician">
                   
                        <h1>Add new musician</h1>
                        
                        <div  class="musicianForm">
                        <form>
                                
                                Name* <input type="text" name="nameMusician"  class ="nameMusician" id="nameMusician"required/><br>

                                Last name<input type="text" name="lastNameMusician" id="lastNameMusician" /><br>
                                Stagename <input type="text" name="stagename" id="stagename" /><br>

                                
                                Instrument <input type="text" name="instrument" class="instrument" id= "instrumentMusician" placeholder="start typing"/>
                                  <button type="button" id="showAllInstruments">Show all instruments</button>
                                <br>
                                <fieldset id="instrumentsPlayedMusician">
                                    <legend>Instruments played</legend>
                                </fieldset>
                              
                                    <h3 id = 'noInstrumentResultInfo'>pas de resultat, vous pouvez creer un nouvel instrument</h3>
                                    <button type="button" class="noResult addInstrument" id="createNewInstrumentButton">Add instrument</button>
                              

                            <span>    Add to artist </span><input type="text" name="addToArtist" class="addToArtist" id="addToArtist" placeholder="start typing"/>

                                <button type="button" id="createNewMusicianButton">Create new musician</button>
                               
                      </form>
 
                            </div>

                </div>