<!-- git dir template -->
<div class="form stuff">
	<div class="stuffForm">
		<form class="stuffForm">

			<div class="firstColumn">
				<div class="imageForm">
					<h1>Image</h1>
					<label>Upload new image</label><button type="button">
					<button type='button'>Add</button>
				</div>
				<div class="instrumentForm">
					<h1>Instrument</h1>
					<h3 id="noInstrumentResultInfo">pas de résultat, vous pouvez créer un nouvel instrument</h3>
					<label>New instrument</label><input type="text">
					<button type='button'>Add</button>
				</div>
			</div>
			
			<div class="secondColumn">
				<div class="genreForm">
					<h1>Genre</h1>
				</div>
				<div class="eventTypeForm">
					<h1>Event Type</h1>
				</div>
			</div>
		</form>
	</div>
</div>