
<label id="addStuffGenreLabel">Genre</label><input type="text" name="stuffGenre" id="stuffGenre" ><button type="button" id="stuffGenreButton">Add genre</button>

<label id="addStuffInstrumentLabel">Instruments</label><input type="text" name="stuffInstrument" id="stuffInstrument" > <button type="button" id="stuffInstrumentButton">Add instrument</button>

<label id="addStuffTicketTypeLabel">Ticket type</label><input type="text" name="stuffTicketType" id="stuffTicketType" > <button type="button" id="stuffTicketButton">Add ticket type</button>

<label id="addStuffEventTypeLabel">Event type</label><input type="text" name="stuffEventType" id="stuffEventType" >
<button type="button" id="stuffEventButton">Add event type</button>