<!-- git dir template -->
<div class="form stuff">
	<div class="stuffForm">
		<form class="stuffForm">

			<div class="firstColumn">
				<div class="imageForm">
					<h2>Image</h2>
					<label>Upload new image</label><button type='button' alt="select or upload new instrument">+</button>
					<button type='button' alt="add a new image">Add</button>
				</div>

				<div class="instrumentForm">
					<h2>Instrument</h2>
					<h3 id="noInstrumentResultInfo">pas de résultat, vous pouvez créer un nouvel instrument</h3>
					<label>New instrument</label><input type="text" placeholder="instrument">
					<button type='button' alt="add a new instrument">Add</button>
				</div>
			</div>
			
			<div class="secondColumn">
				<div class="genreForm">
					<h2>Genre</h2>
					<h3 id="noGenreResultInfo">pas de résultat, vous pouvez créer un nouveau genre</h3>
					<label>New genre</label><input type="text" placeholder="genre">
					<button type='button' alt="add a new genre">Add</button>
				</div>

				<div class="eventTypeForm">
					<h2>Event Type</h1>
					<h3 id="noEventTypeResultInfo">pas de résultat, vous pouvez créer un type d'event</h3>
					<label>New type</label><input type="text" placeholder="type d'évènement">
					<button type='button' alt="add a new type">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>