<div style ="margin-left:20%; " class= "artistTemplate ui-accordion">

          	<h1> <%- name %> </h1>
          	<div class="pourQueAccFonctionne">
		          	<p>Name: <%- name %></p>
		          	<p>Description :  <%- complete_description_de %></p>
		          	<p>Lead: <%- short_description_de %></p>
		          	<h2>Genres: </h2>
		      
		          		<% _.each(genres, function (thisGenre, index) { %>
		          			<%- genres[index].name_de %> 
		          		<% }); %>
		          	<h2>Links: </h2>
		          	<p>URL: </p>
		          	<p>Title: </p>
		          	<p>Last name: </p>

		     <div class ="allArtistMusicians">
		          	<h2>Musicians</h2>
		          	<div>
			          <% _.each(musicians, function (musician, index) { %>
			           	<div class ="artistMusician"> 	
			           		<b style ="font-weight: bold;"> <%- musicians.at(index).get('first_name') %> </b>

			           		<div class= "plays"> <p>Plays:</p>	
			           		 <% _.each(musicians.at(index).get('instruments'), function (instrument, index2) { %>

			           			<span class ="instruments">
			           				<%- musicians.at(index).get('instruments').at(index2).get('name_de') %> </span>


			           		<% }); %>
			           		</div>
			           	</div>
		 	   	<% }); %>
		 	   	</div>
		 	   	</div>
          </div>
</div>

        