<div style ="margin-left:20%; " class= "artistTemplate ui-accordion">

          	<h1> <%- name %> </h1>
          	<div class="pourQueAccFonctionne">
		          		
		          	<p>Description :  <%- description %></p>
		          	<p>Lead: <%- lead %></p>
		          	<h2>Genres: </h2>
		      
		          		<% _.each(genres, function (thisGenre, index) { %>
		          			<%- genres[index].genre %> 
		          		<% }); %>
		          	<h2>Links: </h2>
		          	<p>URL:<%- linkURL %> </p>
		          	<p>Title: <%- linkTitle %></p>
		          	<p>Name: <%- linkName %></p>

		     <div class ="allArtistMusicians">
		          	<h2>Musicians</h2>
		          	<div>
			          <% _.each(musicians, function (musician, index) { %>

			           	<div class ="artistMusician"> 	
			           		<b style ="font-weight: bold;"> <%- musicians.at(index).get('name') %> </b>

			           		 <% _.each(musicians.at(index).get('instruments'), function (instrument, index2) { %>

			           			<p>Plays:	<%- musicians.at(index).get('instruments').at(index2).get('name') %> </p>

			           		<% }); %>
			           	</div>
		 	   	<% }); %>
		 	   	</div>
		 	   	</div>
          </div>
</div>

        