<% _.each(artists, function (artist, artistIndex) { %>
<div class= "artistTemplate">


          	<h1>
          		<img src="img/icones/icone_artist.png">
          		Artist <%- artistIndex +1 %> - <%- artist.name %>
          		<ul class = "buttonsListMusician">
          			<li><button type="button">
          				<img src="img/icones/icone_delete.png"/>
          				</button>
          			</li>
          			<li><button type="button">
          				<img src="img/icones/icone_edit.png"/>
          			</button>
          			</li>
          		</ul>
          	</h1>
          	

</div>

        	<% }); %>