<% _.each(events, function (event, eventsIndex) { %>

<div class="eventTemplate myAccordion ">

     <h1>Event number <%- eventsIndex +1%> - <%- events[eventsIndex].title_de %> </h1>
     <div class ="pourQueAccFonctionne">
           
           <div class ="infoEventTemp">
                <div class="lineOne">
                    <div class="eventInformations">
                      <h2>General</h2>
                        <%- events[eventsIndex].header %>
                        <p><label>Event name : </label><%- events[eventsIndex].name_de %></p>
                        <p><label>Start hour : </label><%- events[eventsIndex].start_date_hour%></p>
                        <p><label>Opening doors hour : </label><%- events[eventsIndex].opening_doors %></p>
                        <p><label>Ending hour : </label><%- events[eventsIndex].ending_date_hour %></p>
                        <p><label>Event type : </label><%- events[eventsIndex].eventType %></p>
                        <p><label>Ending date : </label><%- events[eventsIndex].endingDate %></p>
                    </div> <!-- eventInformation -->

                    <div class ="eventTicketInfo">
                      <h2>Ticket Info</h2>
                        <p><label>Ticket Price : </label><%- events[eventsIndex].ticketPrice %> per ticket</p>
                        <p><label>Ticket type : </label><%- events[eventsIndex].name_de %></p>
                        <p><label>Ticket note : </label><%- events[eventsIndex].comment %></p>
                        <p><label>Quantity : </label><%- events[eventsIndex].amount %></p>
                    </div> <!-- eventTicketInfo -->
                </div>
                <div class="lineOne">  
                    <div class="eventMealsInfo">
                      <h2>Meals</h2>
                        <p><label>Number of vegan meals : </label><%- events[eventsIndex].nb_vengans_meal %></p>
                        <p><label>Number of normal meals : </label><%- events[eventsIndex].nb_meal %></p>
                        <p><label>Meals note : </label><%- events[eventsIndex].meal_notes %></p>
                    </div> <!-- eventMealsInfo -->

                    <div class ="eventOtherInfo">
                      <h2>Others</h2>
                        <p><label>Place numbers : </label><%- events[eventsIndex].nb_places %></p>
                        <p><label>Publishing? yes, </label><%- events[eventsIndex].publishing %></p>
                        <p><label>Complementary note : </label><%- events[eventsIndex].notes %></p>
                    </div> <!-- eventOtherInfo -->
                </div>    
              </div> <!-- infoEventTemp -->
           


              <div class ="eventArtists"> 
                <h1>Who will play?</h1>
                    <% _.each(events[eventsIndex].artists, function (artist, index) { %>

                    <div class ="theArtist">
                       <h1>Artist <%- index+1 %> name :  <%- events[eventsIndex].artists[index].name %></h1>
                       <p><label>Description : </label><%- events[eventsIndex].artists[index].short_description %></p>

                      <div class="artistLinks">
                         <h1>Links: </h1>
                         <p><label>LinkURL : </label><%- events[eventsIndex].artists[index].linkURL %></p> 
                         <p><label>Link title : </label><%- events[eventsIndex].artists[index].linkTitle %></p> 
                         <p><label>Link name : </label><%- events[eventsIndex].artists[index].linkName %></p> 
                      </div>

                      <div class="artistStylee"  style ="margin-bottom:1%;"> 
                          <p>
                            <label>Artist style</label>
                            <% _.each(events[eventsIndex].artists[index].genres, function (genre, genreIndex) { %>
                            <%- events[eventsIndex].artists[index].genres[genreIndex].name_de %> 
                            <% }); %> <!-- genreLoop -->
                          </p>
                      </div>
                   
                      <div class ="artistMusicians"> 
                        <span style ="font-weight: bold;">Musicians</span>
                          <% _.each(events[eventsIndex].artists[index].musicians, function (musician, musicianIndex) { %>
                          <div class= "theEventMusician">
                              <p><label>Name : </label><%- events[eventsIndex].artists[index].musicians.at(musicianIndex).attributes.first_name %></p>
                              <p><label>Last name : </label><%- events[eventsIndex].artists[index].musicians.at(musicianIndex).attributes.last_name %></p> 
                              <p><label>StageName : </label><%- events[eventsIndex].artists[index].musicians.at(musicianIndex).attributes.stagename %></p>
                                
                                <div class ="hePlays"> 
                                  <p>
                                   <label>Plays Instruments : </label> 
                                   <% _.each(events[eventsIndex].artists[index].musicians.at(musicianIndex).attributes.instruments, function (instrument, instIndex) { %>
                                   <%- events[eventsIndex].artists[index].musicians.at(musicianIndex).attributes.instruments.at(instIndex).attributes.name_de %> 
                                  </p>   
                                        <% }); %> 
                                </div>  <!-- hePlays -->

                          </div> <!-- myMusician -->
                             <% }); %>  <!-- musicianLoop -->
                      </div> <!-- artistMusicians -->

                    </div>

               <!-- theArtist -->
               
                <% }); %> <!-- artistLoop -->
                
              </div><!-- eventArtists -->

      </div>
       
</div>  <!-- pourQueAccFonctionne -->


 <% }); %>