<% _.each(musicians, function (musician, musicianIndex) { %>
<div class="musicianTemplate myAccordion">

          	<h1> Musician <%- musicianIndex+1 %> - <%- musician.first_name %> 
          		<span><%- musician.stagename %></span>

          		<ul class = "buttonsListMusician">
          			<li><button type="button">
          				 <img src="img/icones/icone_delete.png"/>
          				</button>
          			</li>
          			<li><button type="button">
          				 <img src="img/icones/icone_edit.png"/>
          			     </button>
          			</li>
          		</ul>
          	

          	</h1>

          	<div class="musicianInfoTemplate"> 

          			
       		
	          	<p><label>Last name : </label><%- musician.last_name %> </p>
	          	<p><label>Stage name : </label><%- musician.stagename %> </p>
	          	
	          	<div class="musicianInstrumentsTemplate">
	          		<p><label>Artists : </label>
	          	 <% _.each(musicians[musicianIndex].artists, function (artist, index) { %>
	          	 	<%- artist.name %> </p>
	          	  <% }); %> 
	          	</div>
          	</div>
          	
          		
</div>





 <% }); %>