<% _.each(musicians, function (musician, musicianIndex) { %>
<div style ="margin-left:20%; " class="musicianTemplate" >

          	<h1> Musician <%- musicianIndex+1 %> - <%- musicians[musicianIndex].name %> </h1>
          	<div class="musicianInfoTemplate"> 
	          	<p>Last name : <%- musicians[musicianIndex].lastName %> </p>
	          	<p>Stage name: <%- musicians[musicianIndex].stageName %> </p>
	          	
	          	<div class="musicianInstrumentsTemplate">
	          		<span>Instruments: </span>
	          	 <% _.each(musicians[musicianIndex].instruments, function (instrument, index) { %>
	          	 	<%- musicians[musicianIndex].instruments[index].name %>
	          	  <% }); %>
	          	</div>
          	</div>
       
</div>

 <% }); %>