
<div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title">Choose an image</h3>
    </div>
    <div class="bbm-modal__section">
    <ol id="selectable">
      <li class="ui-state-default"> <img src="img/images/1.jpg"></li>
      <li class="ui-state-default"> <img src="img/images/2.jpg"></li>
      <li class="ui-state-default"> <img src="img/images/3.jpg"></li>
      <li class="ui-state-default"> <img src="img/images/1.jpg"></li>
      <li class="ui-state-default"> <img src="img/images/2.jpg"></li>
      <li class="ui-state-default"> 3</li>
    </ol>
     
    </div>
    <div class="bbm-modal__section">
      <h4>Upload an image</h4>
    </div>
    <div class="bbm-modal__section">
      <form style="background-color:white;">
          <input style="background-color: white;" type="file" value="upload" />
        </form>
    </div>
    
        
        
      
   
    <div class="bbm-modal__bottombar">
      <a href="#" class="bbm-button">Close</a>
    </div>